 <style>
    body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #007bb7;
    }
    .button{
      position: fixed;
      top: 288px;
      left: -57px;
      letter-spacing: 1px;
      margin: 0 auto 0;
      display: block;
      z-index: 99;
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      border-radius: 3px;
      font-family: 'Raleway',sans-serif;
      padding: 16px 20px;
      text-decoration: none;
      background-color: #fff;
      color: #007bb7;
      font-weight: 500;
      box-shadow: 0 0 15px rgb(0 0 0 / 30%);
      font-size: 22px;
    }
    .button:hover{
      background-color: #007bb7;
      color: #fff;
    }

    .overlat{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #007bb7;
      transition: opacity 500ms;
      visibility:hidden;
      opacity: 0;
    }
    .overlat:target{
      visibility: visible;
      opacity: 1;
    }

    .popup{
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 30%;
      position: relative;
    }
    @media(max-width:992px){
      .popup{
        width: 85%;
      }
    }
    .popup .close{
      position: absolute;
      top: 0;
      right: 0;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #0a8ad8;
      padding: 5px 15px;
      background: #fff;
      box-shadow: 0 0 7px rgb(0 0  0 / 30%);
      z-index: 10;
    }
    .popup .close:hover{
      color: #1093ea;
    }

    .popup .content{
      max-height: 30%;
      overflow: auto;
    }

    .form-container{
      background: #fff;
      font-family: 'Titillium Web', sans-serif;
      padding: 25px 10px;
      overflow: hidden;
      position: relative;
      z-index:1;
    }
    .form-container::before{
      content: " ";
      background: radial-gradient(at 50% 25%, #1093ea 0%, #007bb7 100%);
      height: 70%;
      width: 100%;
      left: 0;
      top: 0;
      z-index:-1;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
      position: absolute;
  
    }
    .form-container .form-icon{
      color: #fff;
      font-size: 55px;
      line-height: 55px;
      text-align: center;
      margin: 0 0 10px;
    }

    .form-container .title{
      color: #fff;
      font-size: 55px;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      margin:  0 0 25px;
    }
    .form-container .form-horizontal{
      background: #fff;
      padding: 10px;
      margin: 0 0 20px;
      box-shadow: 0 0 7px rgb(0 0 0 30%);
      border-radius: 3px;
    }
    .form-horizontal .form-group{
      background: #fff;
      margin: 0 0 15px;
      border-radius: 3px;
      border-bottom: 1px solid #ddd;
    }
    .form-horizontal .input-icon{
      color: #007bb7;
      font-size: 22px;
      text-align: center;
      line-height: 43px;
      height: 45px;
      width: 25px;
      margin: 0 0 0 4px;
      vertical-align: top;
      display: inline-block;
    }
    .form-horizontal .form-control{
      color: #555;
      background: transparent;
      font-size: 20px;
      letter-spacing: 1px;
      width: calc(100% - 50px);
      height: 45px;
      padding:0 5px;
      box-shadow: none;
      border: none;
      border-radius: 0;
      display: inline-block;
      transition: all 0.3s;
    }

    .form-horizontal .form-group::before{
      display: table;
      content:  " ";
    }

    .form-horizontal .forgot-pass{
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      margin: 0 0 15px 0;
      display: block;
    }
    .form-horizontal .forgot-pass a{
      color: #007bb7;
      transition: all 0.3s ease 0s;
    }
    .form-horizontal .forgot-pass a:hover{
      color: #555;
    }
    .btn{
      color: #fff;
      background: #007bb7;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      letter-spacing: 1px;
      width: 100%;
      padding: 5px 15px 5px;
      margin: 0;
      border-radius: 3px;
      transition: all 0.3s ease;
      border: none;
    }

    .user-signup{
      color: #333;
      font-size: 16px;
      font-weight: 600;
      text-align:center;
      display: block;
    }




  </style>